p {
    color: crimson;
    font-size: 35;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: darkgreen;
}
h1 {
    color: darkmagenta;
    font-size: 50;
    font-style: italic;
    font-weight: normal;
}
h3 {
    font-size: 30;
    font-style: initial;
     color: rgb(20, 1, 1);
}
.body {
    background-color: rgb(190, 243, 243);
}
.title {
    font-style: oblique;
    color: yellow;
}
.address {
    color: tomato;
    scrollbar-highlight-color: teal;
}
.link {
    font-size: 100;
    font-style: italic;
    color: rgb(41, 10, 77);
    column-count: unset;
}